.dropdownToggle:after { 
  content: none;
}

.dropdownMenu {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.item:active {
  background-color: transparent;
  color: #000;
}